{% extends 'authentication/main.html' %}

{% block title %}
{% endblock title %}

{% block main %}
	<h1>Log in</h1>
	<form class="form" method="POST">
  		{% csrf_token %}
  		<div class="form-group">
    		<input type="email" value="" id="emailId" name="emailId" class="form-control" placeholder="Email Address" required>
  		</div>
  		<button class="btn btn-danger" type="submit">Send Me Magic Link</button>
	</form>

	{% if message %}
    	<div class="card card-block card-inverse card-success text-xs-center">
        	<blockquote class="card-blockquote">
          		<p>{{ message }}</p>
        	</blockquote>
      	</div>
	{% endif %}
{% endblock main %}